h1 {
    font-family: "Lobster", sans-serif;
    font-size: 60px;
    color: rgb(55, 64, 78);
    margin: 20px 0;
}

h3 {
    font-size: 30px;
    margin: 0px 0;
}

h2 {
    font-size: 40px;
    margin: 0px 0;
}


.middle {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.big {
    font-size: 60px;
    margin: 0px 0;
}

.gray {
    color: darkslategray;
}

.red {
    color: red;
}

.yellow {
    background-color: yellow;
}

.round {
    border-radius: 20px;
}

.medium {
    font-size: 50px;
}

.small {
    font-size: 30px;
}

.sargin {
    margin-left: 100px;
}

.blue-background {
    background-color: blue;
}

.gray-background {
    background-color: gray;
}

.yoda-image {
    width: 40%;
}

.small-image {
    width: 15%;
}

.clear {
    clear: both;
}

.menu {
    clear: both;
    margin-bottom: 3em;
}

.wide-image {
    width: 30%;
}

.fancy {
    font-family: "Lobster", sans-serif;
}

.vl {
    border-left: 6px red;
    height: 500px;
    
}